.Botao_Base {
  border-radius: 15px;
  transition-duration: 0.4s;
  padding-right: 0.5em;  
}

.Opcao_Menu {
  transition-duration: 0.4s;
  padding-right: 0.5em; 
  background-image: none !important; 
  border-width: 0;
}

.x-botao-menu{
 background-color: rgb(65,065,065) !important;
 background-image: none !important;
 border-width:0 !important;
}

.x-botao-menu-over:hover {
 background-color: rgb(85, 85, 85) !important;
}

.botao-menu-infos {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.botao-menu-infos:hover {
 background-color: rgb(85, 85, 85) !important;
}

.avatarmenu {
    padding-right: 0!important;
    border-radius: 50%;
    box-shadow: 
}

.Botao_Verde {
  background:#4CAF50 !important;
}

.Botao_Verde:hover {
  background: #3e8e41 !important;
}

.Botao_Azul {
background:#3cb0fd  !important;
}

.Botao_Azul:hover {
  background:#3498db !important;
}

.Botao_Vermelho {
background: #f44336 !important;
}

.Botao_Vermelho:hover {
  background:#da190b !important;
}

.Botao_Laranja {
background: #ff9800 !important;
}

.Botao_Laranja:hover {
  background:#BD7100 !important;
}

.Botao_Preto{
background: #111214 !important;
}

.Botao_Preto:hover {
  background:#111214 !important;
}

.Botao_Cinza{
 background:#414141 !important;
}

.Botao_Cinza:hover {
 background: #3e8e41 !important;
}


/*  Botões menu
.x-btn-default-large{
 background-color: rgb(65,065,065) !important;
 background-image: none !important;
 border-width:0 !important;
}

.x-btn-default-large-over{
 background-color: rgb(85, 85, 85) !important;
}

.x-accordion-hd .x-tool-expand-top, .x-accordion-hd .x-tool-expand-bottom{
 background-position:0 -176px;
}

.x-accordion-hd .x-tool-collapse-top, .x-accordion-hd .x-tool-collapse-bottom{
 background-position:0 -224px;
} 
*/